### Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [33]:
import pandas as pd

In [48]:
data_r = pd.read_csv('ratings.dat', sep= '::', header =None,engine='python')
data_w = pd.read_csv('movies.dat', sep= '::', header =None,engine='python')

In [71]:
# подготовили данные

data_r['film_id'] = data_r[1]
data_r['rating'] = data_r[3]
rating_data = data_r[['film_id', 'rating']]
#print(rating_data.info())

data_w['film_id'] = data_w[0]
data_w['film_name'] = data_w[1]
film_info_data = data_w[['film_id', 'film_name']]
#print(film_info_data.info())

joined = data_r.merge(data_w, on='film_id', how='left')
data_final = joined[['film_id','rating','film_name']]

data_final.head()

# нашли фильм с наибольшим кол-во 5 
film_w_five = data_final[data_final.rating>=5]
id_film = film_w_five['film_name'].value_counts().head(1)
id_film.head()

print(f'Самое большое кол-во оценок 5 выставлено фильму: {id_film.head()}')

Самое большое кол-во оценок 5 выставлено фильму: American Beauty (1999)    3428
Name: film_name, dtype: int64

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [37]:

data_energy = pd.read_csv('power.csv')
final_data_energy_info = data_energy[
            ((data_energy['country']=='Latvia')|
             (data_energy['country']=='Estonia')|
             (data_energy['country']=='Lithuania'))&
    
            ((data_energy['year']>=2005)&(data_energy['year']<=2010))&
    
            ((data_energy['category']==4)|
             (data_energy['category']==12)|
             (data_energy['category']==21))&
    
            ((data_energy['quantity']>0))
                ]
final_sum = 0
for i in list(final_data_energy_info['quantity']):
    final_sum += i
print(final_sum)

240580.0

### Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [38]:
data_html = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni')[0]

In [39]:
data_html

,0,1,2,3,4,5,6,7,8,9,10,11
0,аааа,3Т 638,"0,0%",Nasdaq,13Т 430,"2,3%",ааИбаКаОаЙаН,48Т 263,"3,0%",USD/RUB,740160,"0,0%"
1,а аЂаЁ,1Т 549,"0,1%",S&P500,4Т 174,"1,5%",ааЕббб,688,"2,7%",EUR/RUB,898740,"0,0%"
2,Dow,34Т 382,"1,1%",FTSE100,7Т 044,"1,2%",ааОаЛаОбаО,1Т 843,"0,9%",EUR/USD,12146,"0,0%"